<h1>ABOUT</h1>

<%= link_to image_tag('profile.jpg'), 'my Profile' %>

<ul>
  <li><%= link_to "HOME", pages_home_path %></li>
  <li><%= link_to "ARTICLE", articles_path %></li>
  <li><%= link_to "ABOUT", pages_about_path %></li>
</ul>